.donante{
  margin:0;
  padding: 0;
  bottom: 82%;
  left: 850px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
.Iniciar-sesion{
  margin:0;
  padding: 0;
  bottom: 84%;
  left: 1170px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 10%;
}
.medico{
  margin:0;
  padding: 0;
  bottom: 82%;
  left: 1080px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
.clinica{
  margin:0;
  padding: 0;
  bottom: 82%;
  left: 965px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
  .logo-buttons {
      position: absolute;
      top: 15px;
      right: 50px;
      display: flex;
      align-items: center;
  }
  
  
  .logo-button {
      margin-left: 50px; /* Espacio entre los botones de logotipo si es necesario */
      text-decoration: none; /* Elimina el subrayado de los enlaces */
  }
  
  
  .logo-button img {
      width: 60px; /* Ancho de la imagen del botón */
      height: 60px; /* Altura de la imagen del botón */
      border-radius: 50%; /* Esto hace que las imágenes sean círculos si lo deseas */
      border: 2px solid #be5555; /* Borde alrededor de la imagen del botón */
      transition: transform 0.3s ease-in-out; /* Efecto de transformación suave al pasar el cursor */
  }
  
  
  .logo-button img:hover {
      transform: scale(1.2); /* Escala ligeramente la imagen al pasar el cursor */
  }
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    height: 100vh;  
    max-width: 100%; 
}
.frase-container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #be5555;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 3%;
  }

.frase {

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;

  }
.button-img {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    outline: none;
    padding: 0; 
    position: absolute;
    width: 170px;
    height: auto;
    display: block;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  .button-img:hover {
    transform: scale(1.2); /* Escala ligeramente la imagen al pasar el cursor */
}
  
  /* Posicionamiento en las esquinas */
  .button-top-left {
    top: 60%;
    left: 15%;

  }
  
  .button-top-right {
    top: 60%;
    right: 15%;
  }
  
  .button-bottom-left {
    bottom: 50%;
    left: 15%;
  }
  
  .button-bottom-right {
    bottom: 50%;
    right: 15%;
  }
  
  /* Posicionamiento en el centro */
  .button-center {
    top: 38%;
    left: 42%;
    
  }
  
  /* Estilos para el contenedor de los botones */
  .postits {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  
  /* Estilos para que la imagen se vea completa en el botón */
  .button-img img {
    width: 100%;
    height: 100%;
  }
  .logo{
    background: none;
    border: none;
    cursor: pointer;
}
.queres{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
}
.ingresa{
  text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 1%;
    font-size: 20px;
}
.aca{
  color: blue;
  cursor: pointer;
  text-decoration: underline;

}