.logo{
  background: none;
  border: none;
  cursor: pointer;
}
.donante{
  margin:0;
  padding: 0;
  bottom: 82%;
  left: 1075px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
.Iniciar-sesion{
  margin:0;
  padding: 0;
  bottom: 84%;
  left: 1170px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 10%;
}
.sugerencias{
  margin:0;
  padding: 0;
  bottom: 84%;
  left: 840px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
.clinica{
  margin:0;
  padding: 0;
  bottom: 82%;
  left: 965px;
  position: absolute;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  max-width: 6%;
}
.logo-buttons {
  position: absolute;
  top: 15px;
  right: 50px;
  display: flex;
  align-items: center;
}


.logo-button {
  margin-left: 50px; 
  text-decoration: none; 
}


.logo-button img {
  width: 60px; 
  height: 60px;
  border-radius: 50%; 
  border: 2px solid #be5555; 
  transition: transform 0.3s ease-in-out; 
}


.logo-button img:hover {
  transform: scale(1.2);
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  max-width: 95%;

}
.razones {
    text-align: center; /* Centra el contenido en el medio */
    font-size: 30px; /* Aumenta el tamaño de la fuente */
    margin-left: 5%;
    margin-top: 2%;
}
.titulo{
    text-align: center; /* Centra el contenido en el medio */
    font-size: 30px; /* Aumenta el tamaño de la fuente */
    color: #be5555; /* Cambia el color del texto a rojo */
    margin-left: 5%;
    margin-top: 2%;
}
.pregunta2{
    color: #be5555; /* Cambia el color del texto a rojo */

}
.manos , .sangre{
  width: 100%;
}


