.clinica{
    margin:0;
    padding: 0;
    bottom: 82%;
    left: 74%;
    position: absolute;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    max-width: 6%;
  }
  .Iniciar-sesion{
    margin:0;
    padding: 0;
    bottom: 84%;
    left: 90%;
    position: absolute;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 10%;
  }
  .sugerencias{
    margin:0;
    padding: 0;
    bottom: 84%;
    left: 65%;
    position: absolute;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    max-width: 6%;
  }
  .donante{
    margin:0;
    padding: 0;
    bottom: 82%;
    left: 83%;
    position: absolute;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    max-width: 6%;
  }
  .logo-buttons {
      position: absolute;
      top: 15px;
      right: 4%;
      display: flex;
      align-items: center;
  }
  
  
  .logo-button {
      margin-left: 50px; /* Espacio entre los botones de logotipo si es necesario */
      text-decoration: none; /* Elimina el subrayado de los enlaces */
  }
  
  
  .logo-button img {
      width: 60px; /* Ancho de la imagen del botón */
      height: 60px; /* Altura de la imagen del botón */
      border-radius: 50%; /* Esto hace que las imágenes sean círculos si lo deseas */
      border: 2px solid #be5555; /* Borde alrededor de la imagen del botón */
      transition: transform 0.3s ease-in-out; /* Efecto de transformación suave al pasar el cursor */
  }
  
  
  .logo-button img:hover {
      transform: scale(1.2); /* Escala ligeramente la imagen al pasar el cursor */
  }
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    max-width: 95%;
    height: 100%;
}
.titulo{
    margin-left: 20%;
    color: #be5555;
    font-size: 40px;
}
.condiciones{
    margin-left: 50px;
    margin-top: 40px;
}
.podes{
    color: #be5555;
    font-weight: bold;
    font-size: 25px;
}
.logo{
    background: none;
    border: none;
    cursor: pointer;
}
.doctor{
    margin-left: 10%;
    width: 80%;
    margin-top: 10%;
}
.contenido {
    display: flex;
    align-items: center;
}

.texto {
    flex: 1;
    padding: 20px; /* Añade relleno según tus necesidades */
}


